.main{
    width: 100%;
}
.conteiner {
    width: 1050px;
    background: #fafafa;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
}
.page-paginator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn-page{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
}
.page-info{
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}
.search{
    padding: 10px;
    width: 1050px;
    margin: 0 auto;
}
.search form{
    width: 500px;
    margin: 0 auto;
}
.search form input{
    background: #e9e6e6;
    border-radius: 20px;
    border: none;
    width: 500px;
    height: 30px;
    font-size: 20px;
}