.main{
  min-height: 40vh;
}
.App{
  width: 100%;
  min-height: 50vh;
}
.tema{
  position: relative;
}
.theme{
  position: absolute;
  top: 10px;
  right: 0;
}
.theme-light{
  font-size: 40px;
}
.theme-dark{
  font-size: 40px;
}
.theme button{
  width: 50px;
  height: 23px;
  font-size: 20px;
  margin:0 10px 0 10px;
  border: none;
}